/* RESETS */

* { box-sizing: border-box; }

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

a, button, img {
  cursor: pointer;
}

a{
  font-size: 14px;
}


.DisplaySM{
  display: inline;
  position: fixed;
  top: 73%;
  right: 1%;
}

.img1{
  margin: 1px 0px;
  padding: 1px;
  width: 31px;
  height: 31px;
  transition: 0.4s;
}

.img1:hover{
  width: 35px;
  height: 35px;
  translate: -5px;
  transition: 1.2s;
}

.img1:active{
  width: 38px;
  height: 38px;
  translate: -10px;
  transition: 1.2s;
}

.div-busqueda{
  background-color: #252525;
  margin: 0px;
  border: 0px none transparent;
  padding: 15px;
}

body.bodyColor .div-busqueda{
  background-color: black;
}

.top-left{
  color: white;
  background: transparent;
  font-weight: 700;
  font-size: 13px;
  border: 0;
  background-color: transparent;
}

.top-right{
  color: white;
  background: transparent;
  font-weight: 700;
  float: right;
  font-size: 13px;
  border: 0;
}

.parent-div{
  position: relative;
}

.reductionIMG1{
  width: 85px;
  margin-bottom: -37px;
}

.placing{
  display: grid;
  text-align: center;
}

.title{
  margin-top: -5px;
  margin-bottom: -10px;
}

.buttons{
  color: white;
  background-color: black;
  border-radius: 15px;
  height: 20px;
  padding: 0;
  margin: 0px 25px 0px 25px;
  border: 0px none transparent;
  font-weight: 500; 
}

.buttons2{
  color: white;
  background-color: black;
  border-radius: 15px;
  height: 22px;
  padding: 10;
  margin: 10px 35px 0px 35px;
  border: 0px none transparent;
}

.place-regresar{
  place-itemes: center;
}

.button-regresar{
  color: black;
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  margin: 0; 
  font-size: 12px;
}

.form-information{
  display: grid;
  place-items: center;
  max-width: 1;
}

@keyframes modal-in {
  0% {
    translate: 0% -1% ;
    scale: 1.1;
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    scale: 1;
    visibility: visible;
  }
}

@keyframes modal-out {
  100% {
    translate: 0% -1% ;
    scale: 1.2;
    opacity: 0%;
  }
  0% {
    opacity: 100%;
    scale: 1;
    visibility: visible;
  }
}

.content-contenedor-iniciar{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  text-align: center;
  width: 230px;
  height: 300px;
  background-color: white;
  border-radius: 16px;
  border: 1.2px solid #C6C6C6;
  padding: 0;  
  visibility: visible ;
}

.content-div{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  text-align: center;
  width: 230px;
  height: 300px;
  background-color: white;
  border-radius: 16px;
  border: 1.2px solid #C6C6C6;
  padding: 0;  
  visibility: hidden;
}

.content2-div{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  text-align: center;
  width: 230px;
  height: 300px;
  background-color: white;
  border-radius: 16px;
  border: 1.2px solid #C6C6C6;
  padding: 0 ;  
  visibility: hidden;
}

body.open .content-contenedor-iniciar{
  visibility: hidden;
  scale: 1;
  animation: modal-out 1s;
}

body.open .content-div{
  visibility: visible;
  scale: 1;
  animation: modal-in 1s;
}

body.openRe .content-contenedor-iniciar{
  visibility: hidden;
  scale: 1;
  animation: modal-out 1s;
}

body.openRe .content2-div{
  visibility: visible;
  scale: 1;
  animation: modal-in 1s;
}

body.Deline .button-regresar{
  border-bottom: 1px solid black;
}

body.IMGbig .reductionIMG1{
  animation: modal-buho 2s;
}

@keyframes modal-buho {
  0% {
    translate: 0% 20% ;
    scale: 1.25;
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    scale: 1;
    visibility: visible;
  }
}

@keyframes modal-img{
  0% {
    translate: 0%;
    scale: 1.25;
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    scale: 1;
    visibility: visible;
  }
}

.Hover:hover{
  width: 25%;
  transition: 1s;
}

.Cont-imgs{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  height: fit-content;
  background-color: transparent;
}

.Cont-imgs2{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: auto;
  height: fit-content;
  background-color: transparent;
}

.Positions-second{
  display: flex;
  justify-content: center;
  margin-top: -86% ;
  text-align: center;
  width: fit-content;
  height: fit-content;
  visibility: hidden;
}

body.open01 .Positions-first{
  visibility: hidden;
}

body.open01 .Positions-second{
  visibility: visible;
  animation: modal-img 0.8s;
}

.Cont-imgs3{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  height: fit-content;
  background-color: transparent;
}

.Cont-imgs4{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: auto;
  height: fit-content;
  background-color: transparent;
}

.Positions-second2{
  display: flex;
  justify-content: center;
  margin-top: -86% ;
  text-align: center;
  width: fit-content;
  height: fit-content;
  visibility: hidden;
}

body.open2 .Positions-first2{
  visibility: hidden;
}

body.open2 .Positions-second2{
  visibility: visible;
  animation: modal-img 0.8s;
}

.Cont-imgs4{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  height: fit-content;
  background-color: transparent;
}

.Cont-imgs5{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: auto;
  height: fit-content;
  background-color: transparent;
}

.Positions-second3{
  display: flex;
  justify-content: center;
  margin-top: -86% ;
  text-align: center;
  width: fit-content;
  height: fit-content;
  visibility: hidden;
}

body.open3 .Positions-first3{
  visibility: hidden;
}

body.open3 .Positions-second3{
  visibility: visible;
  animation: modal-img 0.8s;
}

.reductionContent{
  width: 250px;
  border-radius: 10px;
}

fig-div{
  border: 1px solid red;
  font-size: 13px;
  height: fit-content;
  width: 250px;
  margin-left: 40px;
  font-weight: 500;
  font-family: Poppins;
}

.reductionIMG0{
  width: 55px;
}

.SpaceBetween{
  width: 100%;
  height: 150px;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 20px;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}

:is(.navbar, .burger, .dropdowns) {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 60px;
  background: #19191c;
  color: #f9f9f9;
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("IMG/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.openNav .burger {
  background-image: url("IMG/close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}


.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px;
  height: 100%;
  opacity: 0.6;
}

.button > img {
  display: none;
}

@media (width >= 500px) {
  .button {
    padding: 0 10px 0 24px;
  }

  .button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0d0d0e;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.openNav .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu {
  display: grid;
  margin-bottom: 28px;
}

@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    width: 180px;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: #19191c;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu > button {
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
}

@media (width >= 500px) {
  .dropdown-menu > button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdown-menu > button:hover {
  opacity: 1;
}